{% extends "base.html" %}
{% block content %}
  <h1>Edit Pokédex entry for {{mon.name}}:</h1>

{% if errors %}
	<div class="alert alert-danger">

		<ul>

			{% for error in errors %}

				<li>{{error}}</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

  <form method="post" action="{{base_path}}/mon/edit/{{mon.id}}">
    <div class="form-group">
	<label>Name</label>
	<select class="form-control" name="basemon_id">
		{% for basemon in basemons %}
			{% if basemon.dexnumber == mon.basemon_id %}
				<option selected="selected" value="{{basemon.dexnumber}}">{{basemon.name}}</option>
			{%else %}
				<option value="{{basemon.dexnumber}}">{{basemon.name}}</option>
			{% endif %}
		{% endfor %}
	</select>
    </div>

     <div class="form-group">
        <label>Overall appraisal</label>
                <select class="form-control" name="overall_appraisal">
                        {% if user_logged_in.team_id == 1 %}
                                {% if mon.overall_appraisal == 1 %}
                                <option selected="selected" value="1">Overall, your (Pokémon name) may not be great in battle, but I still like it!</option>

                                <option value="2">Overall, your (Pokémon name) is a decent Pokemon</option>

                                <option value="3">Overall, your (Pokémon name) is a strong Pokémon. You should be proud!</option>

                                <option value="4">Overall, your (Pokémon name) simply amazes me. It can accomplish anything!</option>

                                {% elseif mon.overall_appraisal == 2 %}
                                <option value="1">Overall, your (Pokémon name) may not be great in battle, but I still like it!</option>

                                <option selected="selected" value="2">Overall, your (Pokémon name) is a decent Pokemon</option>

                                <option value="3">Overall, your (Pokémon name) is a strong Pokémon. You should be proud!</option>

                                <option value="4">Overall, your (Pokémon name) simply amazes me. It can accomplish anything!</option>

                                {% elseif mon.overall_appraisal == 3 %}
                                <option value="1">Overall, your (Pokémon name) may not be great in battle, but I still like it!</option>

                                <option value="2">Overall, your (Pokémon name) is a decent Pokemon</option>

                                <option selected="selected" value="3">Overall, your (Pokémon name) is a strong Pokémon. You should be proud!</option>

                                <option value="4">Overall, your (Pokémon name) simply amazes me. It can accomplish anything!</option>

                                {% elseif mon.overall_appraisal == 4 %}
                                <option value="1">Overall, your (Pokémon name) may not be great in battle, but I still like it!</option>

                                <option value="2">Overall, your (Pokémon name) is a decent Pokemon</option>

                                <option value="3">Overall, your (Pokémon name) is a strong Pokémon. You should be proud!</option>

                                <option selected="selected" value="4">Overall, your (Pokémon name) simply amazes me. It can accomplish anything!</option>

                                {% else %}
                                <option value="1">Overall, your (Pokémon name) may not be great in battle, but I still like it!</option>

                                <option value="2">Overall, your (Pokémon name) is a decent Pokemon</option>

                                <option value="3">Overall, your (Pokémon name) is a strong Pokémon. You should be proud!</option>

                                <option value="4">Overall, your (Pokémon name) simply amazes me. It can accomplish anything!</option>

                                {% endif %}

			 {% elseif user_logged_in.team_id == 2 %}

                                {% if mom.overall_appraisal == 1 %}
                                <option selected="selected" value="1">Overall, your (Pokémon name) is not likely to make much headway in battle.</option>

                                <option value="2">Overall, your (Pokémon name) is above average.</option>

                                <option value="3">Overall, your (Pokémon name) has certainly caught my attention</option>

                                <option value="4">Overall, your (Pokémon name) is a wonder! What a breathtaking Pokémon!</option>

                                {% elseif mon.overall_appraisal == 2 %}
                                <option value="1">Overall, your (Pokémon name) is not likely to make much headway in battle.</option>

                                <option selected="selected" value="2">Overall, your (Pokémon name) is above average.</option>

                                <option value="3">Overall, your (Pokémon name) has certainly caught my attention</option>

                                <option value="4">Overall, your (Pokémon name) is a wonder! What a breathtaking Pokémon!</option>

                                {% elseif mon.overall_appraisal == 3 %}
                                <option value="1">Overall, your (Pokémon name) is not likely to make much headway in battle.</option>

                                <option value="2">Overall, your (Pokémon name) is above average.</option>

                                <option selected="selected" value="3">Overall, your (Pokémon name) has certainly caught my attention</option>

                                <option value="4">Overall, your (Pokémon name) is a wonder! What a breathtaking Pokémon!</option>

                                {% elseif mon.overall_appraisal == 4 %}
                                <option value="1">Overall, your (Pokémon name) is not likely to make much headway in battle.</option>

                                <option value="2">Overall, your (Pokémon name) is above average.</option>

                                <option value="3">Overall, your (Pokémon name) has certainly caught my attention</option>

                                <option selected="selected"  value="4">Overall, your (Pokémon name) is a wonder! What a breathtaking Pokémon!</option>

                                {% else %}
                                <option value="1">Overall, your (Pokémon name) is not likely to make much headway in battle.</option>

                                <option value="2">Overall, your (Pokémon name) is above average.</option>

                                <option value="3">Overall, your (Pokémon name) has certainly caught my attention</option>

                                <option value="4">Overall, your (Pokémon name) is a wonder! What a breathtaking Pokémon!</option>

                                {% endif %}
 			{% elseif user_logged_in.team_id == 3 %}
                                {% if attributes.overall_appraisal == 1 %}
                                <option selected="selected" value="1">Overall, your (Pokémon name) has room for improvement as far as battling goes.</option>

                                <option value="2">Overall, your (Pokémon name) is pretty decent!</option>

                                <option value="3">Overall, your (Pokémon name) is really strong!</option>

                                <option value="4">Overall, your (Pokémon name) looks like it can really battle with the best of them!</option>

                                {% elseif attributes.overall_appraisal == 2 %}
                                <option value="1">Overall, your (Pokémon name) has room for improvement as far as battling goes.</option>

                                <option selected="selected" value="2">Overall, your (Pokémon name) is pretty decent!</option>

                                <option value="3">Overall, your (Pokémon name) is really strong!</option>

                                <option value="4">Overall, your (Pokémon name) looks like it can really battle with the best of them!</option>

                                {% elseif attributes.overall_appraisal == 3 %}
                                <option value="1">Overall, your (Pokémon name) has room for improvement as far as battling goes.</option>

                                <option value="2">Overall, your (Pokémon name) is pretty decent!</option>

                                <option selected="selected" value="3">Overall, your (Pokémon name) is really strong!</option>

                                <option value="4">Overall, your (Pokémon name) looks like it can really battle with the best of them!</option>

                                {% elseif attributes.overall_appraisal == 4 %}
                                <option value="1">Overall, your (Pokémon name) has room for improvement as far as battling goes.</option>

                                <option value="2">Overall, your (Pokémon name) is pretty decent!</option>

                                <option value="3">Overall, your (Pokémon name) is really strong!</option>

                                <option selected="selected" value="4">Overall, your (Pokémon name) looks like it can really battle with the best of them!</option>

                                {% else %}
                                <option value="1">Overall, your (Pokémon name) has room for improvement as far as battling goes.</option>

                                <option value="2">Overall, your (Pokémon name) is pretty decent!</option>

                                <option value="3">Overall, your (Pokémon name) is really strong!</option>

                                <option value="4">Overall, your (Pokémon name) looks like it can really battle with the best of them!</option>
                                {% endif %}
                        {% endif %}
                </select>
   </div>
   <div class="form-group">
      <label>Stats appraisal</label>
      <input type="text" name="stats_appraisal" class="form-control" value="{{mon.stats_appraisal}}">
    </div>
    <div class="form-group">
      <label>Caught location</label>
      <input type="text" name="caught_location"  class="form-control" value="{{mon.caught_location}}">
    </div>

  <div class="form-group">
      <label>Pokemon CP</label>
      <input type="text" name="cp" class="form-control" value="{{mon.cp}}">
    </div>


    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save dat mon</button>
    </div>
  </form>
{% endblock %}
