{% extends "base.html" %}
{% block content %}
  <h1>Add a new Pokémon to the main Pokedex</h1>

  <form method="post" action="{{base_path}}/mon">
    <div class="form-group">
      <label>Name</label>
      <input type="text" name="name" class="form-control">
    </div>

    <div class="form-group">
      <label>Dexnumber</label>
      <input type="text" name="dexnumber" class="form-control">
    </div>

    <div class="form-group">
      <label>Attack</label>
      <input type="text" name="attack" class="form-control">
    </div>

    <div class="form-group">
      <label>Defense</label>
      <input type="text" name="defense" class="form-control">
    </div>

    <div class="form-group">
      <label>Stamina</label>
      <input type="text" name="stamina" class="form-control">
    </div>


    <div class="form-group">
     <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
{% endblock %}
