{% extends "base.html" %}
{% block content %}
  <h1>Add a new Pokémon to your Pokédex!</h1>

 <h5>The Pokémon in your Pokédex will also appear in the public Pokédex for all trainers to see.</h5>

  <form method="post" action="{{base_path}}/mon">
    <div class="form-group">
      <label>Name</label>
      <input type="text" name="name" class="form-control">
    </div>

    <div class="form-group">
      <label>Dexnumber</label>
      <input type="text" name="dexnumber" class="form-control">
    </div>

    <div class="form-group">
      <label>Overall appraisal</label>
      <input type="text" name="overall_appraisal" class="form-control">
    </div>

    <div class="form-group">
      <label>Stat appraisal</label>
      <input type="text" name="stats_appraisal" class="form-control">
    </div>

    <div class="form-group">
      <label>Caught location</label>
      <textarea name="caught_location" class="form-control"></textarea>
    </div>

    <div class="form-group">
	<label>CP</label>
	<input type="text" name="cp" class="form-control">
    </div>


    <div class="form-group">
     <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
{% endblock %}
