{% extends "base.html" %}
{% block content %}
	<h1>{{mon.name}}</h1>
	
	{% if message %}
		<div class="alert alert-success">
			{{message}}
		</div>
	{% endif %}

	{% if user_logged_in %}
		<p>

			<form method="post" action="{{base_path}}/mon/destroy/{{mon.id}}/{{user_logged_in.id}}" style="display: inline-block;" class="destroy-form" data-confirm="Are you sure you want to delete data from both public and private Pokédex?">
				<button type="submit" button class="btn btn-danger">Delete from public and private Pokédex</button>
			</form> 
			<form method="post" action="{{base_path}}/destroydex/{{mon.id}}/{{user_logged_in.id}}" style="display: inline-block;" class="destroy-form" data-confirm="Are you sure you want to delete this Pokédex entry?">
				<button type="submit" button class="btn btn-warning">Delete from private Pokédex ONLY</button>
			</form>
			<a class="btn btn.default btn-default" href= "{{base_path}}/mon/edit/{{mon.id}}" class="btn btn-default">Edit</a>
		</p>
	{% endif %}


	<ul>
		<li><strong>Pokedex number</strong> {{mon.basemon_id}}</li>
		<li><strong>Pokémon perfection</strong>
		  {% if mon.overall_appraisal == 1 %}
       		        0% - 50%
	          {% elseif mon.overall_appraisal == 2 %}
	                51% - 65%
	          {% elseif mon.overall_appraisal == 3 %}
	                66% - 80%
	          {% elseif mon.overall_appraisal == 4 %}
	                81% - 100%
	          {% endif %}
		</li>
		<li><strong>Max IV in atleast one base stat</strong>
		 {% if mon.stats_appraisal == 1 %}
	                0 to 7
	         {% elseif mon.stats_appraisal == 2 %}
	                8 to 12
	         {% elseif mon.stats_appraisal == 3 %}
	                13 or 14
	         {% elseif mon.stats_appraisal == 4 %}
	                15
	         {% endif %}
	 
		</li>
		<li><strong>Caught location</strong> {{mon.caught_location}}</li>
		<li><strong>Pokemon CP</strong> {{mon.cp}}</li>


	</ul>

{% endblock %}

