{% extends "base.html" %}
{% block content %}
  <h1>{{mon.name}}</h1>
  <!-- Painikkeet tähän -->

  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Pokedex number</strong> {{mon.dexnumber}}</li>
    <li><strong>Overall Appraisal</strong> {{mon.overall_appraisal}}</li>
    <li><strong>Stats Appraisal</strong> {{mon.stats_appraisal}}</li>
    <li><strong>Caught location</strong> {{mon.caught_location}}</li>
    <li><strong>Pokemon CP</strong> {{mon.cp}}</li>


  </ul>

{% endblock %}

