{% extends "base.html" %}
{% block content %}
	<h1>{{mon.name}}</h1>
{% if message %}
	<div class="alert alert-success">
		{{message}}
	</div>
{% endif %}
  <!-- Painikkeet tähän -->
{% if user_logged_in %}
	<p>
		<form method="post" action="{{base_path}}/mon/destroy/{{mon.id}}" style="display: inline-block;">
			<button type="submit" button class="btn btn-danger">Delete</button>
		</form> 

		<a class="btn btn.default btn-default" href= "{{base_path}}/mon/edit/{{mon.id}}" class="btn btn-default">Edit</a>
	</p>
{% endif %}

  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Pokedex number</strong> {{mon.dexnumber}}</li>
    <li><strong>Overall Appraisal</strong> {{mon.overall_appraisal}}</li>
    <li><strong>Stats Appraisal</strong> {{mon.stats_appraisal}}</li>
    <li><strong>Caught location</strong> {{mon.caught_location}}</li>
    <li><strong>Pokemon CP</strong> {{mon.cp}}</li>


  </ul>

{% endblock %}

