{%extends "base.html" %}
{% block content %}
  <h1>Pikachu</h1>
  <!-- Painikkeet tähän -->
  
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Name:</strong> Pikachu</li>
    <li><strong>Pokedex number</strong> 25</li>
    <li><strong>Type</strong> Electric</li>
    <li><strong>Weak against</strong> Ground</li>
    <li><strong>Attack</strong> 124</li>
    <li><strong>Defense</strong> 108</li>
    <li><strong>Stamina</strong> 70</li>
    <li><strong>Evolves into</strong> Raichu</li>

  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    Pika-pika-pika-pikaaa!
 </p>
{% endblock %}
