{% extends "base.html" %}
{% block content %}
  <h1>Pokémon GO available Pokémon</h1>

 

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Dex number</th>
        <th>Type</th>
        <th>Weak against</th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      <tr>
        <td>Pikachu</td>
        <td>25</td>
        <td>Electric</td>
        <td>Ground</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
